html
  head
    title= "Torrent Feeder"
    style(type='text/css').
      td, th {
          border: 1px solid gray;
          padding: 3px;
      }

      table {
        border-spacing: 0;
      }

      input[type="button"] {
        margin: 5px;
      }

    meta(name="viewport" content="width=device-width, initial-scale=0.7")
  body
    div
      label="Shows: "
      select(id="shows")
        option
        each show in shows
          option(value=show.ShowID)=show.ShowName

    div
      input(type="button" id="markAsDownloaded" value="Mark as Downloaded")
      input(type="button" id="downloadAgain" value="Download Again")

    div(id="episodes")

  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="/scripts/main.js")